@model WebStore.Models.Employee

@{
    ViewData["Title"] = "Информация о сотруднике id:" + Model.Id; 
}


<div class="container">
    <h4>Сотрудник</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patronomic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patronomic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>

    @*<table>
        
        <tbody>
           <tr>
               <td>Id</td>
               <td>@Model.Id</td>
           </tr>
           <tr>
               <td>Фамилия</td>
               <td>@Model.LastName</td>
           </tr>
           <tr>
               <td>Имя</td>
               <td>@Model.FirstName</td>
           </tr>
           <tr>
               <td>Отчество</td>
               <td>@Model.Patronomic</td>
           </tr>
           <tr>
               <td>Возраст</td>
               <td>@Model.Age</td>
           
        </tbody>
    </table>*@
    <a asp-controller="Employees" asp-action="Index">назад к списку</a>
</div>

